<div class="container">
  <h2>Видео консултация с доктор</h2>

  <video controls autoplay>
    <source
      src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/4ZrVLdVKeijzurndz/videoblocks-medicine-healthcare-and-people-concept-senior-doctor-talking-to-young-male-patient-having-health-problem-at-hospital_h8zx_ae0z__dcd47c2fa9b8af6b3a9ab93e8eb79e1c__P360.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <a routerLink="/enrolled-consultations" class="back-btn"
    >Back to Consultations</a
  >
</div>
