<div class="modal-overlay">
  <div class="modal-content">
    <h3>Регистрирайте се за {{ consultation!.specialty }}</h3>
    <p>Изберете удобна дата за вашата консултация:</p>

    <label for="appointmentDate">Изберете дата и час:</label>
    <input
      type="datetime-local"
      id="appointmentDate"
      [(ngModel)]="selectedDateTime"
      name="appointmentDate"
      required
    />

    <button (click)="confirmAppointment()">Потвърдете срещата</button>
    <button class="close-btn" (click)="closeModalHandler()">Отказ</button>
  </div>
</div>
