<div class="navigation">
  <nav>
    <img class="logo" src="logo.png" alt="" />
    <a routerLink="/home" routerLinkActive="active">Начало</a>
    <a routerLink="/about" routerLinkActive="active">За нас</a>
    <a routerLink="/health-assessment" routerLinkActive="active">Здраве</a>
    <a routerLink="/consultations" routerLinkActive="active">Консултации</a>
    <a id="login-tab" *ngIf="!currentUser" routerLink="/login">Вход</a>
    <div *ngIf="currentUser" class="dropdown">
      <button class="dropdown-btn">Добре дошли, {{ currentUser }}</button>
      <div class="dropdown-content">
        <a routerLink="/enrolled-consultations" routerLinkActive="active"
          >Моите консултации</a
        >
      </div>
    </div>
  </nav>
</div>
