<div class="container">
  <h2>Available Consultations</h2>

  <div class="consultation-card" *ngFor="let consultation of consultations">
    <div>
      <h3>{{ consultation.name }} - {{ consultation.specialty }}</h3>
      <p>{{ consultation.description }}</p>
    </div>
    <button class="book-btn" (click)="openSignUpModal(consultation.id)">
      Sign Up
    </button>
  </div>

  <!-- Notification for appointment confirmation -->
  <output *ngIf="notificationMessage" class="notifications">{{
    notificationMessage
  }}</output>

  <app-enroll-consultation
    *ngIf="showModal"
    [consultation]="selectedConsultation"
    (closeModal)="closeSignUpModal()"
    (appointmentConfirmed)="handleAppointmentConfirmation($event)"
  >
  </app-enroll-consultation>
</div>
